[Unit]
Description=Nodepool Deleter Service
After=syslog.target network.target

[Service]
Type=simple
User=nodepool
Group=nodepool
EnvironmentFile=-/etc/sysconfig/nodepool-deleter
ExecStart=/bin/sh -c "${PREFIX}/bin/nodepool -d ${ARGS}"

[Install]
WantedBy=multi-user.target
