[Unit]
Description=Nodepool Builder Service
After=syslog.target network.target

[Service]
Type=simple
User=nodepool
Group=nodepool
EnvironmentFile=-/etc/sysconfig/nodepool-builder
ExecStart=/bin/sh -c "${PREFIX}/bin/nodepool-builder -d -l /etc/nodepool/logging.conf"

[Install]
WantedBy=multi-user.target
