[Unit]
Description=Nodepool Deleter Service
After=syslog.target network.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/nodepool-deleter
User=${RUNASUSER:-nodepool}
ExecStart=/bin/sh -c "${PREFIX}/bin/nodepoold -d ${ARGS}"

[Install]
WantedBy=multi-user.target
