[Unit]
Description=Nodepool Builder Service
After=syslog.target network.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/nodepool-builder
User=${RUNASUSER:-nodepool}
ExecStart=/bin/sh -c "${PREFIX}/bin/nodepool-builder -d ${ARGS}"

[Install]
WantedBy=multi-user.target
