[Unit]
Description=Nodepool Service
After=syslog.target network.target

[Service]
Type=simple
User=nodepool
Group=nodepool
EnvironmentFile=-/etc/sysconfig/nodepool
ExecStart=/bin/sh -c "${PREFIX}/bin/nodepoold --no-builder -d -l /etc/nodepool/logging.conf"

[Install]
WantedBy=multi-user.target
