[Unit]
Description=Nodepool Builder Service
After=syslog.target network.target

[Service]
Type=simple
# Options to pass to nodepool-builder.
Environment="ARGS=-l /etc/nodepool/builder-logging.conf -s /etc/nodepool/secure.conf"
Group=nodepool
User=nodepool
ExecStart={{ nodepool_pip_virtualenv | default('/usr/local') }}/bin/nodepool-builder -d $ARGS

[Install]
WantedBy=multi-user.target
